#define AMLA_ILAROTH
    # Canned definition of the default AMLA.
    [advancement]
        id=amla_ilaroth_athvari
        description= _ "Athvari powers
" + _ "      improves all stats
" + _ "      grants the arcane attack type"
        image="icons/ilaroth-athvaripowers.png"
		always_display=yes
		[effect]
            apply_to=attack
			name=scimitar
			set_type=arcane
        [/effect]
		[effect]
			apply_to=variation
			name=Ascended Ustura
		[/effect]
		{HEAL_EFFECT}
    [/advancement]

	[advancement]
        id=amla_ilaroth_battletested
        description= _ "Battle-tested 
" + _ "      grants the marksman ability
" + _ "      grants another attack per turn"
        image="icons/ilaroth-battletested.png"
		always_display=yes
		[effect]
			apply_to=attack
			name=scimitar
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_MARKSMAN}
			[/set_specials]
		[/effect]
		[effect]
			apply_to=max_attacks
			increase=1
		[/effect]
        {HEAL_EFFECT}
    [/advancement]

	[advancement]
        id=amla_ilaroth_fortified
        description= _ "Fortified
" + _ "      grants +35 hitpoints
" + _ "      improves the shield bash attack"
        image="icons/ilaroth-fortified.png"
		always_display=yes
		[effect]
            apply_to=hitpoints
			increase_total=35
        [/effect]
		[effect]
			apply_to=attack
			name=shield bash
			increase_damage=4
		[/effect]
        {HEAL_EFFECT}
    [/advancement]


	
#enddef

[unit_type]
    id=Ilaroth
    name= _ "Ilaroth"
    race=athvari
    image="units/heroes/ustura.png"
	profile="portraits/ilaroth.png"
    hitpoints=62
    movement_type=khalifatearmoredfoot
    movement=5
    experience=30
    level=3
    alignment=liminal
    cost=55
    usage=fighter
    {MAGENTA_IS_THE_TEAM_COLOR}

    description= _ "Ilaroth is an Athvari from the eastern lands of the Great Continent and refused to help the other Athvari to create the Sphere that was meant to imprison the three kings of K'thar and eventually did so. As he could no longer identify with the means of the Athvari, he put his blood into a phiole, leaving behind his Athvari powers and becoming an ordinary mortal. As time passed, the imprisoned three kings' power rose and soon could outreach the boundaries of the flawed arcane prison, leading to death and destruction in the desert lands. Ilaroth noticed the upcoming demise of the Athvari and decided to bring their inner circle back to their former power. The search for Ilriel, the spirit of the Southwoods, marked the start for that journey."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/heroes/ustura.png" "units/heroes/ustura.png" {SOUND_LIST:HUMAN_HIT} }

	{AMLA_ILAROTH}
	{AMLA_HEROIC_BONUS}
	
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
	
	[attack]
		name=shield bash
		description= _ "shield bash"
		icon=attacks/heater-shield.png
		type=impact
		range=melee
		damage=12
		number=2
		[specials]
			{WEAPON_SPECIAL_KNOCKBACK}
		[/specials]
	[/attack]

	[attack_anim]
		[filter_attack]
			name=scimitar
		[/filter_attack]
		offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
		start_time=-330
		[frame]
			image="units/heroes/ustura.png:[120*6]"
		[/frame]
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
	[/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=shield bash
		[/filter_attack]
		offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
		start_time=-200
		[frame]
			image="units/heroes/ustura.png:[120*6]"
		[/frame]
		{SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
	[/attack_anim]
		
	[standing_anim]
		start_time=0
		[frame]
			image="units/heroes/ustura.png:380,units/heroes/ustura-bob-1.png:380"
		[/frame]
	[/standing_anim]

	[variation]
		variation_name="Ascended Ustura"
		variation_id=Ascended Ustura
		inherit=yes
		halo=halo/athvari-power-[1~14].png~O(50%):120
		
		{DEFENSE_ANIM "units/heroes/ustura-ascended.png" "units/heroes/ustura-ascended.png" {SOUND_LIST:ELF_HIT} }
		image="units/heroes/ustura-ascended.png"
		image_icon="units/heroes/ustura-ascended.png~CROP(36,27,72,72)"
			
		{AMLA_ILAROTH}
		{AMLA_HEROIC_BONUS}
		
		hitpoints=72
		movement=6
			
		[attack]
			name=scimitar
			description= _ "scimitar"
			icon=attacks/scimitar.png
			type=blade
			range=melee
			damage=12
			number=3
		[/attack]
		
		[attack]
			name=shield bash
			description= _ "shield bash"
			icon=attacks/heater-shield.png
			type=impact
			range=melee
			damage=12
			number=2
			[specials]
				{WEAPON_SPECIAL_KNOCKBACK}
			[/specials]
		[/attack]

		[attack_anim]
			[filter_attack]
				name=scimitar
			[/filter_attack]
			offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
			start_time=-330
			[frame]
				image="units/heroes/ustura-ascended.png:[120*6]"
			[/frame]
			{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
		[/attack_anim]
		
		[attack_anim]
			[filter_attack]
				name=shield bash
			[/filter_attack]
			offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
			start_time=-200
			[frame]
				image="units/heroes/ustura-ascended.png:[120*6]"
			[/frame]
			{SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
		[/attack_anim]
		
		[standing_anim]
			start_time=0
			[frame]
				image="units/heroes/ustura-ascended.png:[180,180,300,180,180]"
			[/frame]
		[/standing_anim]
	[/variation]
[/unit_type]